{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <h2>{%trans "Product details:" %}</h2>
    <p>{%trans "Name:"%} {{ product.name }} <br>
       {%trans "Price:"%} {{ product.price }} <br>
       {%trans "Available in stock:"%} {{ product.in_stock }}
    </p>

    <p>
        {%trans "Model details:"%}<br>
        {%trans "Model name:" %} {{ product.p_model.name }}  <br>
        {%trans "Manufacturer:" %} {{ product.p_model.Manufacturer }}  <br>
        {%trans "OS:" %} {{ product.p_model.OS }}  <br>
        {%trans "Number of cores:" %} {{ product.p_model.core_num }}  <br>
        {%trans "Number of SIM-cards can be used:" %} {{ product.p_model.sim_card_num }}  <br>
        {%trans "Number of camera megapoxels:" %} {{ product.p_model.megapixels_num }}  <br>
    </p>
    <form action="" method="get">
        <button type="submit" class="btn btn-primary btn-sm" formaction="{{ product.get_absolute_url }}update/">{% trans "Edit product" %}</button>
        <button type="submit" class="btn btn-primary btn-sm" formaction="/">{% trans "Main page" %}</button>
    </form>
{% endblock %}