{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <h3>Products:</h3>
        <div class="sort">
            <a href="/" class="btn btn-default btn-xs">Drop filters</a>
            <form action="" method="get" accept-charset="utf-8">
            <select name="by">
                <option>Name</option>
                <option>Price</option>
                <option value="in_stock">Number in stock</option>
            </select>
            <select name="in">
                <option value="">in ascending order</option>
                <option value="-">in decreasing order</option>
            </select>
                <button type="submit" class="btn btn-primary btn-xs">Sort</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
<div class="col-md-12">
            {% for product in product_list %}
            <nav class="navbar navbar-default">
                <div class="form-group">
                    <a href="{{ product.get_absolute_url }}update/" class="btn btn-default btn-sm edit_button">
                        Edit</a>
                    <form action="" method="post">
                        <button type="submit" class="btn btn-default btn-sm" formaction="{{ product.get_absolute_url }}delete/">
                            {% csrf_token %}Delete
                        </button>
                    </form>
                    <a href="{{product.get_absolute_url}}" class="product_name">{{ product.name }} </a>
                </div>
            </nav>
            {% endfor %}

            <div class="pages">
                    Pages:
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}" class="prev_page">previous</a>
                    {% endif %}
                    {{ page_obj.number }}
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" class="nex_page">next</a>
                    {% endif %}
            </div>
            <div class="row" id="create_button">
                <br>
                <form action="" method="get">
                    <button type="submit" class="btn btn-primary" formaction="create/">New Product</button>
                </form>
            </div>
    </div>
</div>
{% endblock %}