{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %}</title>
     {% block head %}
    <nav class="navbar navbar-default header">
        <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand bg-info" href="/">Products Database</a>

            </div>

            <div class="search">{% include 'product/search.html' %}</div>
        </div>
    </nav>
    {% endblock %}

</head>
<body>
<div class="container">
    {% block content %} {% endblock %}
</div>
<br>
<div class="navbar navbar-inverse navbar-fixed-bottom footer" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <a href="/lang/en/">English</a>
            <a href="/lang/ru/">Русский</a>
            {% load i18n %}
            {% get_current_language as LANGUAGE_CODE %}
            {% blocktrans %} Current language: {% endblocktrans %}{{ LANGUAGE_CODE }}

        </div>
        <div class="navbar-text pull-right">
        ©{% blocktrans%} Natalia Bloshchiskaya {% endblocktrans %}
        </div>

    </div>
</div>
</body>
</html>